@charset "UTF-8";
/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none;
  padding-left: 0; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

*:before, *:after {
  box-sizing: inherit; }

img, embed, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

body {
  background: #f2f2f2;
  color: #5E5E5E;
  font-family: "Assistant", sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.8; }

@media screen and (max-width: 90em) {
  body {
    font-size: 1.05em;
    line-height: 1.65; } }
@media screen and (max-width: 30em) {
  body {
    font-size: 1em;
    line-height: 1.55; } }
.band {
  padding-bottom: 1em;
  padding-top: 1em; }
  .band--LARGE {
    padding-bottom: 4em;
    padding-top: 4em; }
  .band--LARGE-BOTTOM {
    padding-bottom: 8em; }

.checklist--section {
  padding-bottom: 2em; }
.checklist--group {
  border: 1px solid #B9B9B9; }
  .checklist--group:not(:last-child) {
    border-bottom: 0; }
  .checklist--group:nth-child(odd) {
    background: #dfdfdf; }
.checklist--info {
  display: flex;
  justify-content: space-around;
  padding: 1em; }
.checklist--item-status-box {
  background-color: #f2f2f2;
  border: 1px solid #B9B9B9;
  border-radius: .5px;
  height: 1.14286em;
  margin-right: 1em;
  margin-top: 0.2em;
  text-align: center;
  transition: background .05s, border .05s;
  width: 1.14286em; }
  .checklist--item-status-box:hover {
    border: 2px solid #B9B9B9; }
  .checklist--item-status-box--DONE {
    border: 1px solid #B9B9B9;
    position: relative;
    transition: background .05s, border .05s; }
    .checklist--item-status-box--DONE::after {
      color: #34CAA7;
      content: '✓';
      left: 3px;
      position: absolute;
      top: -4px; }
.checklist--item-more {
  display: none;
  margin-top: 14px; }
.checklist--item-more-toggle {
  display: none; }
.checklist--item-more-toggle-label {
  cursor: pointer; }
.checklist--item-more-toggle:checked ~ .checklist--item-more {
  display: block; }
.checklist--submit {
  background: #34CAA7;
  border: 1px solid transparent;
  border-radius: 1px;
  color: #f2f2f2;
  font-size: .875em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  transition: background .25s, color .25s; }
  .checklist--submit:hover {
    background: #2aa185; }
  .checklist--submit:focus {
    outline: none; }

.container {
  display: block;
  margin: 0 auto;
  max-width: 50em;
  width: 90%; }
  .container--TIGHT {
    display: block;
    margin: 0 auto;
    max-width: 35em;
    width: 90%; }

h1 {
  font-size: 3.157em;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0; }

h2 {
  font-size: 2.369em;
  font-weight: 200;
  letter-spacing: -1px;
  margin-top: 0; }

h3 {
  font-size: 1.777em;
  font-weight: 400;
  margin-bottom: 0.5em; }

h4 {
  font-size: 1.333em;
  font-weight: 400;
  margin-top: 0; }

h5 {
  font-size: 1.20em;
  font-weight: 400;
  margin-top: 0; }

small,
.font-small {
  font-size: .75em; }

p {
  margin-bottom: 1.3em; }

ol {
  margin-bottom: 1.777em; }

pre {
  background: #c6c6c6; }

sup {
  z-index: -1; }

figcaption {
  color: #a0a0a0;
  font-size: .875em;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 2em;
  margin-top: -1em; }

.link-base {
  color: #5E5E5E;
  text-decoration: none;
  transition: color .15s; }
  .link-base:hover {
    border-bottom: 1px dotted #FF1C52;
    color: #FF1C52;
    transition: color .15s, border-bottom .15s; }
.link--COOL {
  color: #34CAA7;
  font-weight: 300;
  text-decoration: none;
  transition: color .15s; }
  .link--COOL:hover {
    border-bottom: 1px dotted currentColor;
    color: #1f7964;
    transition: color .15s, border-bottom .15s; }

@media screen and (max-width: 48em) {
  h1 {
    font-size: 2.369em; }

  h2 {
    font-size: 1.777em; }

  h3 {
    font-size: 1.333em; }

  h4 {
    font-size: 1.15em; } }
@media screen and (max-width: 30em) {
  h1 {
    font-size: 1.777em; }

  h2 {
    font-size: 1.333em; }

  h3 {
    font-size: 1.20em; }

  h4 {
    font-size: 1.10em; } }
.util-centered {
  text-align: center; }
.util-meta {
  font-size: .875em; }

/*# sourceMappingURL=styles.css.map */
