.band {
    @include padding-top-bottom;

    &--LARGE {
        padding-bottom: $base-spacing-unit * 2;
        padding-top: $base-spacing-unit * 2;
    }

    &--LARGE-BOTTOM {
        padding-bottom: $base-spacing-unit * 4;
    }
}
