.checklist {
    &--section {
        padding-bottom: $base-spacing-unit;
    }

    &--group {
        border: 1px solid $gray-color;

        &:not(:last-child) {
            border-bottom: 0;
        }

        &:nth-child(odd) {
            background: $light-gray-color;
        }
    }

    &--info {
        display: flex;
        justify-content: space-around;
        padding: $base-spacing-unit / 2;
    }

    &--item-status-box {
        border: 1px solid $gray-color;
        border-radius: .5px;
        height: $base-spacing-unit / 1.75;
        margin-right: $base-spacing-unit / 2;
        margin-top: $base-spacing-unit / 10;
        text-align: center;
        background-color: $background-color;
        transition: background .05s, border .05s;
        width: $base-spacing-unit / 1.75;

        &:hover {
            border: 2px solid $cool-color;
        }

        &--DONE {
            background: $cool-color;
            border: 1px solid $cool-color;
            transition: background .05s, border .05s;
        }

    }

    &--item-more {
        text-align: center;
        width: $base-spacing-unit * 3;

        &:hover {
            cursor: pointer;
            transform: rotate(20deg);
        }
    }

    &--submit {
        background: $cool-color;
        border: 1px solid transparent;
        border-radius: 1px;
        color: $background-color;
        font-size: .875em;
        padding-bottom: $base-spacing-unit / 2;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: $base-spacing-unit / 2;
        transition: background .25s, color .25s;

        &:hover {
            background: darken($cool-color, 10%);
        }

        &:focus {
            outline: none;
        }

    }


}
