.checklist {
    &--info {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: $base-spacing-unit / 4;
    }

    &--item-status {
        padding-left: $base-spacing-unit;
        width: $base-spacing-unit * 2;
        height: $base-spacing-unit * 2;
        border: 1px solid red;
    }
}
