// Base variables
$base-font-family: 'Assistant', sans-serif;
$base-font-size:   1em;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.65;

// Spacing
$base-spacing-unit: 2em;

// Colors
$background-color: #F7F7F7;
$accent-color: #2E10FF;
$cool-color: #2BADE2;
$gray-color: #D7D8E0;
$dark-gray-color: darken($gray-color, 40%);
$black-color: #040404;
$text-color: #5E5E5E;

// Width of the content area
$extra-extra-large-screen: 90em;
$extra-large-screen: 68em;
$large-screen: 50em;
$medium-screen: 48em;
$small-screen: 30em;

// Reusable top and bottom padding
@mixin padding-top-bottom{
    padding-bottom: $base-spacing-unit / 2;
    padding-top: $base-spacing-unit / 2;
}
