.container {
    display: block;
    margin: 0 auto;
    max-width: 50em;
    width: 90%;

    &--TIGHT {
        display: block;
        margin: 0 auto;
        max-width: 35em;
        width: 90%;
    }
}
